.facebook-share-widget
  .name-search

  .message-pane

  .template.hide
    = options[:template].to_json
  .tick.hide
    = image_tag "facebook_share_widget/tick.png"
  .loader.hide
    = image_tag "facebook_share_widget/loader.gif"
  .logo.hide
    = image_tag "facebook_share_widget/facebook-logo.png"

  #container
    = image_tag 'facebook_share_widget/loader.gif'